@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-bg: #3c7a46;
  --bg: #252422;
  --reseda-green: #758173;
  --celadon: #a9c5a0;
  --tea-green: #c6dec6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--bg);
  color: var(--reseda-green);
  font-family: "Roboto", sans-serif;
}

#root {
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
}

.active {
  color: #252422;
}

.animate-scroll:hover {
  animation-play-state: paused;
}